:root {
    --bg-color: rgb(4, 65, 100);
    --border-color: rgb(46, 43, 61);
}

html {
    font-size: 10px;
}

header {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

header img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}

h1 {
    font-size: 6rem;
    margin: 4rem;
    text-align: center;
    color: var(--bg-color);
}

h2 {
    font-size: 4rem;
    /* margin: top+bottom left+right */
    margin: 2.5rem 4rem;
}

p {
    font-size: 2.2rem; /* 2.2 x 10px = 22px */
    margin: 2rem 4rem;
    line-height: 3.2rem;
}

hr {
    margin: 2rem 4rem;
    color: var(--border-color);
}

.border-text {
    background-color: var(--bg-color);
    border: 1rem solid var(--border-color);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    margin: 0 auto;
    padding: 2rem;
    width: 80%;
}

#header-img {
    width: 100%;
    opacity: 90%;
}

.upper {
    text-transform: uppercase;
    font-weight: 450;
}
